/*This is the css example from the class tutorial to serve as a starting point. 
We can make changes based on our preferences for our GUI.*/

img {
    height: 500px;
    width: 500px;
}
body {
    background-color:#00853E; /*background color of the webpage if applicable*/
}
h1 {
    text-align: center;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    margin:0;
    padding:0;
}
h3 {
    text-align: center;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}
p {
    color:rgb(0, 0, 0); /* color  and font style of the contents of paragraph p */
    font-style: italic;
    font-size: medium;
    font-weight: bold;
}
p1 {
    color:rgb(0, 0, 0);  /* color  and font style of the contents of paragraph p1 */
    font-weight: bolder;
    font-size: xx-large; 
}
body {
    text-align:justify;
}

#viz1712898247077, #viz1713159065117, #viz1713335926316, #viz1713401692564 {
    margin-bottom: 100px;
}